.header {
    background-color: #003366;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 80px;
    margin-right: 10px;
  }
  
  .header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  
  .toggle-button {
    background-color: #00509e;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .toggle-button:hover {
    background-color: #0077cc;
  }
  