.location-selector {
    display: flex;
    align-items: center;
    position: fixed;
    top: 85px; /* Adjust based on your header height */
    right: 20px;
    z-index: 10;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: calc(100% - 340px); /* Adjust width with sidebar */
    transition: margin-left 0.3s ease;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .location-selector input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .suggestions {
    position: absolute;
    top: 120%; /* Below the input field */
    right: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 20;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f1f1f1;
  }
  